<div class="app-root">
    <div class="form-wrap">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()"
            class="user-form" novalidate>
            <div class="header">
                <h2>新用户录入</h2>
            </div>
            <div class="form-group">
                <label for="username">用户名：</label>
                <input type="text" class="txt required"
                    placeholder="只能使用字母加数字" id="username"
                    formControlName="username">
                <div *ngIf="username.touched && username.invalid">
                    <p class="error" *ngIf="username.errors?.required">
                        用户名不能为空
                    </p>
                    <p class="error" *ngIf="username.errors?.minlength">
                        用户名至少需要4个字符
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="password">密　码：</label>
                <input type="password" class="txt required"
                    placeholder="必须包含字母、数字及常用符号，大于8位"
                    id="password" formControlName="password">
                <div *ngIf="pwd.touched && pwd.invalid">
                    <p class="error" *ngIf="pwd.errors?.required">
                        密码不能为空
                    </p>
                    <p class="error" *ngIf="pwd.errors?.minlength">
                        密码至少需要8个字符
                    </p>
                    <p class="error" *ngIf="!pwd.errors?.minlength && pwd.errors?.pwdValidate">
                        密码必须包含字母、数字及常用符号
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="email">邮　箱：</label>
                <input type="email" class="txt required"
                    placeholder="邮箱格式，如: abc@def.com"
                    id="email" formControlName="email">
                <div *ngIf="email.touched && email.invalid">
                    <p class="error" *ngIf="email.errors?.email || email.errors?.required">
                        邮箱格式不合法
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="phone">手　机：</label>
                <input type="tel" class="txt required"
                    placeholder="仅支持11位数字" id="phone"
                    formControlName="phone"/>
                <div *ngIf="tel.touched && tel.invalid">
                    <p class="error" *ngIf="tel.errors?.required">
                        手机号码不能为空
                    </p>
                    <p class="error" *ngIf="tel.errors?.pattern">
                        手机号码仅支持1开头的11位数字
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="job">职　业：</label>
                <select type="text" class="required"
                    formControlName="job" id="job">
                    <option *ngFor="let job of jobs"
                        [value]="job.id">{{job.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn"
                    [disabled]="!userForm.valid">提交</button>
            </div>
        </form>
    </div>
    <div class="bg-wrap">
        <img src="http://ou2gp2r4n.bkt.clouddn.com/ngbook/basic-form/bg.jpg" class="bg">
    </div>
</div>
