$controlHeight: 40px;
$controlWidth: 300px;
.app-root {
    .header {
        text-align: center;
        // background-color: #1976d2;
        color: #fff;
        border-bottom: 1px #fff solid;
        h2 {
            margin: 0;
            line-height: 40px;
            font-size: 24px;
        }
    }
    .form-wrap {
        padding: 20px;
        text-align: center;
        .user-form {
            display: inline-block;
            margin: auto;
            background-color: rgba(255, 255, 255, 0.3);
            border: 5px rgba(255, 255, 255, 0.8) solid;
            border-radius: 4px;
            padding: 20px;
            margin-top: 120px;
            select {
                background: url("http://ou2gp2r4n.bkt.clouddn.com/ngbook/basic-form/arrow.png") no-repeat scroll right center transparent;
            }
            input.txt, select, button {
                appearance:none;
                -moz-appearance:none;
                -webkit-appearance:none;
                outline: none;
                line-height: $controlHeight;
                width: $controlWidth;
                height: $controlHeight;
                border: solid 1px #ccc;
                padding: 0 10px;
                font-size: 14px;
                color: #555;
                border-radius: 4px;
                background-color: #fff;
                &::placeholder {
                    color: #ccc;
                }
            }
            button {
                border: 2px #fff solid;
                background-color: transparent;
                color: #fff;
                cursor: pointer;
                &:active {
                    background-color: #fff;
                    color: #555;
                }
                &:disabled {
                    background-color: #ccc;
                    border: 0;
                    color: #eee;
                }
            }
            .btn {
                float: right;
                letter-spacing: 5px;
                font-size: 16px;
                font-weight: bold;
            }
            .form-group {
                text-align: left;
                margin: 20px;
                overflow: auto;
                label {
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    line-height: $controlHeight;
                    color: #fff;
                    a {
                        color: #6595B5;
                        font-size: 12px;
                    }
                }
                .error {
                    font-size: 12px;
                    text-align: center;
                    color: #a94442;
                    background-color: #f2dede;
                    border-color: #ebccd1;
                    width: $controlWidth;
                    float: right;
                    margin: 0;
                    padding: 5px;
                    border-radius: 4px;
                }
                input.ng-dirty.ng-invalid {
                    border-left: 5px solid rgb(169, 68, 66);
                }
                input.ng-valid {
                    &[required], &.required {
                        border-left: 5px solid rgb(66, 169, 72);
                    }
                }
            }
        }
    }
}